<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %> 
<body>
    <%- include("partials/header-admin") %>
    <section id="manage">
    <div>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">title</th>
                <th scope="col">phone</th>
                <th scope="col">password</th>
                <th scope="col">manage</th>
              </tr>
            </thead>
            <tbody>
             <% arrUser.forEach (item=> { %> 
              <tr>
                <td><%= item.username %></td>
                <td><%= item.Number %></td>
                <td><%= item.password %></td>
                <td><a href="deleteUSer/<%= item._id %>" class="btn btn-danger">Delete</a></td>
              </tr>
             <% }) %> 
            </tbody>
          </table>
    </div>
    <br><br><br>
  </section>
  <section id="about">
    <center>
        <img src="/img/logo.png" alt="logo" class="logo">
        <h2>
               اسرة مارجرجس اعدادي
        </h2>
        <h3>
         اسرة بتحبك ومستنياااااااااااااااااااك
        </h3>
    </center>
</section>
</body>
</html>